/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

p {
  margin-bottom: 0;
}

/* Bg Color
-------------------------------------------------- */

.bg-black {
  background-color: #000000;
}

/*  Navlink
------------
*/

.dropdown-toggle::after {
  content: "";
  display: none;
}

.navbar.border-bottom {
  border-color: rgba(255, 255, 255, .1)!important;
}

/* Featured Image
-------------------------------------------------- */
.hoveredImage {
  display: none;
}

.featuredHoveredImg:hover .hoveredImage{
  display: block;
}
.featuredHoveredImg:hover .nonHoveredImage {
  display: none;
}


/* Categories
--------------------------
*/

.categoriesButton {
  position: absolute;
  bottom: 120px;
  display: block;
  background-color: #ffffff;
  left: 50px;
  border: 2px transparent solid;
}

.categoriesButton:hover {
  border: 2px solid #fff;
  color: #fff;
}

.featureContentDarkbg::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
}

.featureContent h4 {
  font-size: 24px;
}

.featureContent p {
  font-size: 14px;
}

.btn-featured {
  font-size: 16px;
  font-weight: 400;
}

/* FOOTER
-------------------------------------------------- */

.bg-black ul li a.nav-link ,
.bg-black p{
  color: #fff;
}

.bg-header {
  background: none;
}




/* rtl:end:remove */


/*  Internal Style Sheet
-------------------------
*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .bg-header {
    min-height: 550px;
  }
  .bg-header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
